@import "../../../../theme.scss";
.header {
  height: 75px;
  border-bottom: $headerBorder;
  .logo {
    width: 180px;
  }
}

.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.profileAdjustment{
  margin-right: 110px;
}

.headerText {
  padding-left: 60px;
  display: flex;
  align-items: center;
}
.logout-session {
  position: relative;
  top: 20px;
  cursor: pointer;
}
.pi-sign-out {
  position: relative;
  top: 2px;
}
.navOptions {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 30px;
  font-size: 18px;
  margin-right: 8px;
}

.memberEdit {
  cursor: pointer;
}

// ::ng-deep{
//   .p-overlaypanel {
//     margin-left: -51px !important;
//   }
// }
