<div class="sidenav sidenav-cont">
    <p-sidebar
    [(visible)]="sideBarVisible"
    [blockScroll]="true"
    [modal]="false"
    [closeOnEscape]="false"
    [showCloseIcon]="false"
    [transitionOptions]="0"
    [baseZIndex]="0"
  >
    <ng-template pTemplate="header">
      <div
        [ngClass]="toggleStatus ? 'flex  col-12 align-items-start' : ''"
        class="pl-2 pb-0 pr-2 pt-2"
      >
        <div [ngClass]="toggleStatus ? 'col-3' : ''" class="p-0">
          <img class="logo" src="assets/images/logos/FreightFactsLogo.png" alt="" />
        </div>
        <!-- <div class="header-label col-9 p-0" *ngIf="showInLargeScreen">
          <p>Pricing Engine</p>
        </div> -->
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="sidenav-toggle">
        <div
          class="sidenav-toggle-icon-container"
          (click)="toggleSideBar(true)"
        >
          <i
            [ngClass]="toggleStatus ? 'pi pi-angle-left' : 'pi pi-angle-right'"
          ></i>
        </div>
      </div>
      <div *ngIf="urls.length > 0" class="side-nav-item-list">
        <div *ngFor="let item of urls">
          <div
            routerLink="{{ item.url }}"
            [ngClass]="showInLargeScreen ? 'mb-1' : 'mb-3'"
            (click)="minimizeSidenav()"
          >
            <a
              routerLinkActive="active"
              pTooltip="{{ !toggleStatus ? item.value : '' }}"
              tooltipPosition="right"
              #rla="routerLinkActive"
              (click)="activateProfilestatus(false)"
              class="flex align-items-center col-12"
              [ngClass]="rla.isActive ? 'active' : 'side-nav-items'"
            >
              <div *ngIf="showInLargeScreen" class="col-1"></div>
              <i
                [ngClass]="showInLargeScreen ? 'col-2 ' : 'p-1'"
                aria-hidden="true"
                class="side-bar-icons"
                [class]="item.icon">
                </i>
              <!-- <img
                [src]="rla.isActive ? item.iconActive : item.icon"
                [ngClass]="showInLargeScreen ? 'col-2 ' : 'p-1'"
                aria-hidden="true"
              /> -->
              <p *ngIf="showInLargeScreen" class="side-nav-item-label col-9">
                {{ item.label }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
     <!-- <ng-template pTemplate="footer">
      <div>
        <div
          class="flex align-items-center justify-content-center cursor-pointer"
          routerLinkActive="active"
          #pl="routerLinkActive"
          [ngClass]="
            showInLargeScreen
              ? activateProfile
                ? 'logout-style-container profile-card-active col-12'
                : 'logout-style-container profile-card col-12'
              : activateProfile
              ? ' profile-card-active col-10 ml-1 pl-0 pr-0'
              : 'profile-card col-10 pl-0 pr-0'
          "
          pTooltip="{{ !toggleStatus ? 'Profile' : '' }}"
          tooltipPosition="right"
          (click)="profile.toggle($event); changeprofilealignments()"
        >
          <div
            class="card pt-0 pb-0"
            [ngClass]="showInLargeScreen ? 'pl-4 col-3' : 'col-10 pl-0'"
          >
            <app-uploadlogo
              [formGroup]="profileForm"
              [imageUrl]="this.userService?.getUserProfile()?.profilePicture || this.userProfile.imageUrl"
              [size]="'small'"
              [shape]="'circle'"
              [showIcon]="false"
              [label]="this.userService?.getUserProfile()?.firstName?.charAt(0).toUpperCase() || this.userProfile.label"
              [class]="'mr-2  profile-avatar'"
            ></app-uploadlogo>
          </div>
          <p
            *ngIf="showInLargeScreen && this.userService?.getUserProfile() == null"
            class="side-nav-item-label col-9 pt-0 pb-0"
          >
            {{ this.userProfile.name | slice : 0 : 18
            }}{{ this.userProfile.name.length > 18 ? "..." : "" }}
          </p>
          <p
            *ngIf="showInLargeScreen && this.userService?.getUserProfile() != null"
            class="side-nav-item-label col-9 pt-0 pb-0"
          >
            {{ this.userService?.getUserProfile()?.name | slice : 0 : 18
            }}{{ this.userService?.getUserProfile()?.name?.length > 18 ? "..." : "" }}
          </p>
        </div>
      </div>
    </ng-template> -->
  </p-sidebar>
    <!-- <p-sidebar
        [(visible)]="sideBarVisible"
        [blockScroll]="true"
        [modal]="false"
        [closeOnEscape]="false"
        [showCloseIcon]="false"
        [transitionOptions]="0"
        [baseZIndex]="0"
        >
        <ng-template pTemplate="header">
            <div>
                <img width="200" src="assets/images/logos/FreightFactsLogo.png" />
            </div>
        </ng-template>
        
        <ng-template pTemplate="content">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of urls">
                <div routerLink="{{data.url}}">
                <a
                    routerLinkActive="active"
                    #active="routerLinkActive"
                    [class]="
                        active.isActive
                      ? 'active'
                      : 'sidenav-nav-link'
                  ">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text">{{data.label}}</span>
                </a>
                </div>
            </li>
        </ul>
        </ng-template>
    </p-sidebar> -->
    <!-- <div class="logo-container">
        <div class="flex">
            <i class="pi pi-android" style="font-size: 25px;color: white"></i>
            <div class="logo-text" *ngIf="collapsed">logo</div>
        </div>
    </div>
    <button class="btn-close" (click)="toggleCollapse()">
        <div class="fal fa-times close-icon">X</div>
    </button>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of items">
            <div routerLink="{{data.url}}">
            <a routerLinkActive="active" #active="routerLinkActive" [ngClass]="active.isActive ? 'active' : 'sidenav-nav-link'">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
            </div>
        </li>
    </ul> -->
</div>
