.p-error-invalid{
    color: red !important;
}
.input_text_component .p-inputtext {
 padding: 0.5rem 0.5rem;
 height: 38.4px;
}
.input_text_component .p-inputtext {
    padding: 0.5rem 0.5rem;
    height: 38.4px;
    border-color: #fff!important;
    background-color: transparent!important; 
  }